@font-face {
	font-weight: bold;
	font-family: helvetica;
	src:  url("../fonts/Helvetica/helvetica_bold.otf");
}

body {
	font-family: helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
}

#distance {
	text-align: center;
	font-family: helvetica, sans-serif;
	font-weight: bold;
	font-size: xx-large;
	color:  #444;
}

table {
	text-align: center;
	margin: auto;
	font-size: 40px;
}

td {
	width: 200px;
}

button {
	margin: auto;
	font-size: large;
	background: #f1b112;
	padding: 5%;
	width: 80vw;
}
