body {
	margin: 5vh 5vw;
}

#distance {
	text-align: center;
	height: 40vh;
}

#distance h1 {
	font-size: 30vh;
	margin: 0;
}

.secondlineelements {
	height: 20vh;
	float: left;
	width: 30vw;
	text-align: center;
	font-size: 6vh;
}

p {
	margin: 0;
}

button {
	width: 90vw;
	text-align: center;
}
