font-face {
	font-weight: bold;
	font-family: helvetica;
	src:  url("../fonts/Helvetica/helvetica_boldoblique.otf");
}

body {
	font-family: helvetica, sans-serif;
	font-weight: bold;
	font-style: oblique;
	background-color: #696969;
}

.app {
	height: 100vh;
	margin: auto;
	width: 50vh;
	text-align: center;
	background: linear-gradient(orange, black );
	color: black;
}

#distanceinkm {
	font-weight: bold;
	font-size: 15vh;
	padding-top: 12vh;
	margin: 0;
}

#distance p {
	font-size: 3vh;
	padding-bottom: 2vh;
}

table {
	width: 50vh;
	font-size: 5vh;
}
#time {
	margin-top: 10vh;
}

td {
	vertical-align: top;
}

p {
	margin: 0;
}

#speedminkm {
	width: 10vh;
}

#speedkmh {
	width: 10vh;
}




.text {
	font-size: 2vh;
}

button{
	height: 25vh;
	width: 25vh;
	font-size: 3vh;
	background-color: orange;
	color: black;
	opacity: 60%;
	border: solid black 1vh;
	
}

#start {
	margin-top: 10vh;
	border-radius: 50%;
	transition: background-color 0.3s ease-in-out;
}

button:hover {
	opacity: 100%;
}

#pause {
	margin-top: 8vh;
	border-radius: 50%;
}

#return {
	margin-top: 6vh;
	border-radius: 50%;
}

#stop {
	height: 10vh;
	width: 10vh;
	margin-left: 20vh;
	border-radius: 50%;
	
}

.invisible {
	display: none;
}