body {
	margin: 5vh 5vw;
}

#distance {
	text-align: center;
	height: 40vh;
}

#distance h1 {
	padding-top: 20vw;
	font-size: 30vw;
	margin: 0;
}

.secondlineelements {
	height: 20vh;
	float: left;
	width: auto;
	text-align: center;
	font-size: 9vw;
	padding: 1vw;
}

#speedminkm {
	width: 20vw;
}

#speedkmh {
	width:  20vw;
}

p {
	margin: 0;
}

button {
	width: 90vw;
	text-align: center;
}
